doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
    link(rel='stylesheet', href='styles.css')
    script(src='https://kit.fontawesome.com/3f93d2c0e4.js', crossorigin='anonymous')
    link(href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:wght@100;400&display=swap"
      rel="stylesheet")
   

    title Booked It
  body
    section
      .header
          nav.nav--
              li.one
                a(href="/user_list") your list 
              li.two 
                a(href="/favorite_list") faves 
              li.three 
                a(href="/") home
            
  main.bookedit 
      
            div(class='article-title') BOOKED IT
              div(class='sm-txt')  LATEST TITLES
              p(class='p-text') Chocolate cake macaroon candy canes lollipop liquorice bear claw gummies. Sugar plum fruitcake bear claw tootsie roll liquorice candy cupcake sugar plum croissant. Sweet roll soufflé tiramisu lollipop jelly brownie sugar plum. Dragée wafer jelly bear claw cheesecake cookie sweet cake. Marshmallow icing jelly pudding sweet. Cupcake powder marshmallow cookie cheesecake marshmallow. Liquorice pie gingerbread fruitcake jelly beans.
              form(method="get" action="/favorite_list")   
               button(type="submit" class="button-49" id="fave-btn") favorites   
        
            div(class='content-2 book-form' id="addForm") ADD TO LIST
              form(action="/addbook", method="POST")
                      //- label(for="title") title:
                      br
                      input(type="title", id="title", name="title", placeholder="title", required)
                      br
                      //- label(placeholder="author") author:
                      br
                      input(type="text", id="author", name="author", placeholder="author" required)
                      br
                      //- label(for="date_added") date:
                      input(type="date", id="date_added", name="date_added", required)
                      br
                      button(type="submit" class="add-btn") BOOK IT
        
  div.userbooks
  each item in userTitles
                    .list
                            li #{item.title}
                            li #{item.author} 
                            li #{item.date_added} 
                            form(method="POST" action=`/deletebook/${item._id}`)
                              button(type="submit") Delete
